[package]
name = "twine-macros"
version.workspace = true
authors.workspace = true
description.workspace = true
edition.workspace = true

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1.0"
quote = "1.0"
syn = { version = "2.0.85", features = ["full", "extra-traits"] }